html { 
	background: #fff; 
	font-size: 62.5%;
}

* { box-sizing: border-box; }

body {
	width: 1080px;
	height: 1920px;
	background: $black;
	text-align: right;
	margin: 0 auto;
	padding: 25px 30px;
}